@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body{
    background-color: hsl(212, 45%, 89%);
    margin: 0;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /*div can be centered in the viewport height(the body does not always cover the viewport height, it just takes minimal space to cintain its children.)*/
    min-height: 100vh;
}

.center{
    border-radius: 15px;
    background: hsl(0, 0%, 100%);
    padding: 20px;
    max-width: 20vw;
    /* height: 65vh; Dont use height stupid as it creates a static div that's why your content was overfloeing from it. */
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    /* Below 2 line of code for responsive setup. */
    display: block;
    max-width: 100%; /* this will make the image grow 100% of the container size and respect its paddings */
    border-radius: 15px;

    /* width: 90%;
    height: 55%;
    margin-top: 5%; 
    My earlier code.*/
    
}


#line1{
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    text-align: center;
    font-size: large;
}

#line2{
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    text-align: center;
    font-size: medium;
}



@media (max-width: 375px) {
    .center{
        max-width: 60%;
        
    }
}

/*Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px 

## Colors

- White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%)

### Body Copy

- Font size (paragraph): 15px


### Font

- Family: [Outfit](https://fonts.google.com/specimen/Outfit)
- Weights: 400, 700


*/

